<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
  <h1>
    USMAN SHAHID
  </h1>

  <h2>Products</h2>
<ul>
  <% products.forEach(product => { %>
    <li>
      <h3><%= product.name %></h3>
      <p>Price: $<%= product.price %></p>
      <p><%= product.description %></p>
      <img src="<%= product.image %>" alt="<%= product.name %>">
    </li>
  <% }) %>nod
</ul>

<% if (pagination.totalPages > 1) { %>
  <nav>
    <ul>
      <% for (let i = 1; i <= pagination.totalPages; i++) { %>
        <li>
          <a href="/products?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    </ul>
  </nav>

</body>

</html>